// css/affiliate/list.scss


// import media
@import "media-query";

//desktop
@include desktop-and-below{
  .alertError{

  }
  .errorIcon {
    height: 60px;
    width: 70px;
    padding:0 10px;
    margin:0;
  }
  .errorIcon img{
    display: block;
    margin: auto;
  }
  .messageError{
        margin-top: 10px;
  }
}
// Mobile
@include mobile-only	{

}