
// assets/css/app.css

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
// fontawsome
@import '~@fortawesome/fontawesome-free';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//imors alerts
@import "alerts";


// base
.main-content{
  position: relative;
}
.loading-spinner{
  position: absolute;
  width: 100%;
  z-index: 100;
  //display: none !important;
}