{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="{{ path("cours_all") }}">Back to Courss</a>
<h2 class="page-header">{{cours.libelle}}</h2>
<ul class="list-group">
    <li class="list-group-item"><img src="{{ asset('icons/cours.png' ) }} " width="100px" height="100px" class="rounded mx-auto d-block" alt="..."></li>
    <li class="list-group-item">Nom:  <h4>{{cours.libelle}}</h4> </li>
</ul>
{% endblock %}
